<div>
  <div id="image-wallpaper">
    </div>
  <section id="login">
    <aside id="login-white">
      <div id="white"> </div>
        <article id="logo"></article>
      
      <div id="cont">
        <img class="icons" src="./images/user3.png" alt="">
        <input type="text" class="input-login" id="mail-login" placeholder="Correo:">
        <br>
        <img class="icons" src="./images/candado3.png" alt="">
        <input type="password" class="input-login" id="password-login" placeholder="Contraseña:">
        <br>
        <div id="content">
          <br>
          <button id="button-login">Iniciar sesión</button>
          <br>
          <article class="options">O inicia sesión con</article>
          <article class="logo-red"><img id="logo-fb" src="./images/logo_fb.png" alt=""></article>
          <article class="logo-red"><img id="logo-google" src="./images/logo_google.png" alt=""></article>
        </div>
        <a id="register-one" href="#/registro"> Registrate</a>
      </div>
    </aside>
  </section>

</div>




