<div>
  <h1 id ="perfil-usuario"></h1>

  <p id="data-user"></p>
  <p id="post-user"></p>
<div id="bg-wall">  <div id="post-area"> <textarea id ="publication" placeholder="Escribe tu publicación"></textarea>
  
  <select id="post-select">
      <option>Elige un tipo de publicación</option>
      <option value="Receta">Receta</option>
      <option value="Oferta Laboral">Oferta Laboral</option>
      <option value="Oferta Académica">Oferta Académica</option>
      <option value="Recomendación">Recomendación</option>
    </select>

  <form id='form-img'>
      <label class='btn-btn-file'>
         <input type='file' name='fichero' value='' id='fichero' class="hidden" > 
        <img src="/src/images/img-upload.png" width="15%">
      </label>
  </form>


  <button id="post">Publicar</button></div>

<p id="new-post"> </p> </div>

  <nav id="menu">
    <div id="nav-icons">
  <button class="" id="time-line"></button>
    <button class="menus" id="perfil"></button>
    <button class="menus" id="log-out"></button>
  </div>
  </nav>

</div>

 


