@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');



body {
    background-color: #682c2c;
}

#white {
    width: 100%;
    height: 13vh;
    background-color: white;
    position: absolute; 
    top: -15%; 
}


 .hide{
    display:none;
} 


#login {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    bottom: 0px;
}

#login-white {
    width: 100%;
    height: 87vh;
    background-color: #682c2c;
    position: absolute;
    bottom: 0px;
    text-align: center;
}

#cont {
    position: relative;
    top: -5%;
}

#logo {
    width: 220px;
    height: 220px;
    background-image: url(./images/logo2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    margin: 0 auto;
    position: relative;
    top: -10%;
}

h1 {
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    font-size: 1.5em;
}

.input-login::placeholder,
.input-login {
    width: 65%;
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom-width: 2px;
    border-bottom-color: white;
    background-color: #682c2c;
    margin: 5px; 
    font-size: 0.9em; 
}

#button-login {
    width: 40%;
    background-color: #682c2c;
    font-family: 'Nanum Gothic', sans-serif;
    border: 3px;
    border-style: solid;
    border-color: white;
    color: white;
    font-size: 1em;
    margin-bottom: 10px; 
}

.options {
    font-size: 1em;
    color: white;
}

#register-one {
    font-size: 0.9em;
    color: white;
    border: 0;
}

#logo-fb {
    width: 70%; 
    padding-top: 10px; 
    padding-bottom: 10px; 
}

#logo-google {
    width: 70%;
    padding: 5px; 
}

.logo-red {
    width: 35%; 
    margin: 0 auto; 
    background-color: white; 
    margin-top: 10px; 
}

.icons {
    width: 7%;
}

/* Estilos del form de registro */
#content-form {
    width: 80%;
    margin: 0 auto;
    font-family: 'Nanum Gothic', sans-serif;
}

.form-row {
    color: #682c2c;
}

.form-control:focus {
    color: black;
}

.form-control {
    color: #682c2c;
}

.form-control::placeholder {
    color: #682c2c;
}


#register {
    margin-left: 15px;
    font-size: 1em;
    color: #682c2c;
    background-color: white;
    border: 0;
}

/* Estilos del muro  */
#menu {
    width: 100%;
    position: fixed;
    bottom: 0px;
    margin: 0 auto;
    background-color: white;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
    border-top-width: 2px;
    border-top-color: #682c2c;
    border-style: solid;
}

.menus {
    width: 30%;
    margin: 3px;
    font-family: 'Nanum Gothic', sans-serif;
    border: 1px;
    border-style: solid;
    border-color: white;
    color: white;
    font-size: 0.8em;
    background-color: white;
}

#image-wallpaper {
   display: none;
}

#time-line {
   background-image: url("./images/muro.png");
   background-color: white; 
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   width: 15%;
   height: 50px; 
   border: 0px; 
   margin-left: 8%;
   margin-right: 8%;
}

#perfil {
   background-image: url("./images/perfil2.png");
   background-color: white; 
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   width: 15%;
   height: 50px; 
   border: 0px; 
   margin-right: 8%;
   margin-left: 8%;
}

#log-out {
    background-image: url("./images/cerrar.png");
    background-color: white; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 15%;
    height: 50px; 
    border: 0px; 
    margin-left: 8%;
    margin-right: 8%;
}

#user-photo {
    width: 15%; 
    border-radius: 50%; 
}

#user-post {
    width: 80%; 
    margin: 0 auto; 
    border: 2px;
    border-style: solid;
    border-color: #682c2c;
    margin-top: 10px; 
    margin-bottom: 10px; 
    padding-left: 10px; 
    padding-right: 10px; 
    padding-top: 10px; 
}

#bg-wall {
    background-color: white; 
}

#post-area {
    width: 80%; 
    background-color: white; 
    margin: 0 auto; 
    margin-top: 10px; 
    padding-top: 10px;
}

#post {
    background-color: #682c2c;
    border: 0px; 
    color: white;  
    height: 30px; 
}

#publication {
    width: 100%;
    border: 2px;
    border-style: solid;
    border-color: #682c2c;
}

#post-select {
    border: 2px;
    border-style: solid;
    border-color: #682c2c;
    background-color: white; 
    height: 30px; 
    color: #682c2c;
}

#nav-icons {
    width: 80%; 
    margin: 0 auto; 
}

#mini-photo {
    width: 15%;
    height: 50%;
    border-radius: 50%; 
}

#perfil-usuario {
    margin-top: 10px; 
    margin-bottom: 10px; 
    margin-right: 10%;
    font-size: 1em; 
    text-align: right; 
}

/*Estilos botones post*/

.delete{
  background-image: url(./images/delete.png);
  background-position: center;
  background-size:cover;
  background-color: white;
  border: 0px;
  width: 40px;
  height:40px;

}

.edit{
    background-image: url(./images/edit.png);
    background-position: center;
    background-size:cover;
    background-color: white;
    border: 0px;
    width: 40px;
    height:40px;
}

.like {
    background-image: url(./images/like.png);
    background-position: center;
    background-size:cover;
    background-color: white;
    border: 0px;
    width: 40px;
    height:40px;
    
}

.like:hover {
    background-image: url(./images/like2.png);
    color: white;
}



@media screen and (min-width: 1050px) and (max-width: 1300px) {
#image-wallpaper {
    background-image: url("./images/wallpaper.jpg");
    width: 60%;
    height:100vh;
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#login{
    float: right;
    width: 40%;
    height: 0vh;
    background-color: white;
    bottom: 0px;

}
#login-white {
    width: 40%;
    height: 87vh;
    position: absolute;
    bottom: 0px;
    text-align: center;
}
}