@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

body {
    background-color: #682c2c;
}

#login {
    background-color: white;
    margin: 0 auto;
    width: 100%;
    height: 15vh;
    bottom: 0px;
}

#login-white {
    width: 100%;
    height: 85vh;
    background-color: #682c2c;
    position: absolute;
    bottom: 0px;
    text-align: center;
}

#logo {
    width: 60%;
    height: 40%;
    background-color: white;
    border-radius: 50%;
    border-color: #682c2c;
    border-width: 5px;
    border-style: solid;
    margin: 0 auto;
    position: relative;
    top: -10%;
}

h1 {
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    font-size: 1.5em;
}

.input-login::placeholder,
.input-login {
    width: 70%;
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom-width: 2px;
    border-bottom-color: white;
    background-color: #682c2c;

}

#button-login {
    width: 50%;
    background-color: #682c2c;
    font-family: 'Nanum Gothic', sans-serif;
    border: 1px;
    border-style: solid;
    border-color: white;
    color: white;
    font-size: 1em;
}

.options {
    font-size: 1em;
    color: white;
}

#register-one {
    font-size: 0.9em;
    color: white;
    border: 0;
}

#logo-fb {
    width: 100%; 
}

#logo-google {
    width: 70%;
}

.logo-red {
    width: 35%; 
    margin: 0 auto; 
    background-color: white; 
    margin-top: 10px; 
}


.icons {
    width: 5%;
}

/* Estilos del form de registro */
#content-form {
    width: 80%;
    margin: 0 auto;
    margin-top: 10%;
    font-family: 'Nanum Gothic', sans-serif;
}

.form-row {
    color: #682c2c;
}

.form-control:focus {
    color: black;
}

.form-control {
    color: #5F023A;
}

.form-control::placeholder {
    color: #5F023A;
}


#register {
    margin-left: 15px;
    font-size: 1em;
    color: #5F023A;
    background-color: white;
    border: 0;
}
