@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

body {
    background-color: #682c2c;
}

#white {
    width: 100%;
    height: 13vh;
    background-color: white;
    position: absolute; 
    top: -15%; 
}

#login {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    bottom: 0px;
}

#login-white {
    width: 100%;
    height: 87vh;
    background-color: #682c2c;
    position: absolute;
    bottom: 0px;
    text-align: center;
}

#cont {
    position: relative;
    top: -5%;
}

#logo {
    width: 220px;
    height: 220px;
    background-image: url(./images/logo2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    margin: 0 auto;
    position: relative;
    top: -10%;
}

h1 {
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    font-size: 1.5em;
}

.input-login::placeholder,
.input-login {
    width: 65%;
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom-width: 2px;
    border-bottom-color: white;
    background-color: #682c2c;
    margin: 5px; 
    font-size: 0.9em; 
}

#button-login {
    width: 40%;
    background-color: #682c2c;
    font-family: 'Nanum Gothic', sans-serif;
    border: 3px;
    border-style: solid;
    border-color: white;
    color: white;
    font-size: 1em;
    margin-bottom: 10px; 
}

.options {
    font-size: 1em;
    color: white;
}

#register-one {
    font-size: 0.9em;
    color: white;
    border: 0;
}

#logo-fb {
    width: 70%; 
    padding-top: 10px; 
    padding-bottom: 10px; 
}

#logo-google {
    width: 70%;
    padding: 5px; 
}

.logo-red {
    width: 35%; 
    margin: 0 auto; 
    background-color: white; 
    margin-top: 10px; 
}

.icons {
    width: 7%;
}

/* Estilos del form de registro */
#content-form {
    width: 80%;
    margin: 0 auto;
    font-family: 'Nanum Gothic', sans-serif;
}

.form-row {
    color: #682c2c;
}

.form-control:focus {
    color: black;
}

.form-control {
    color: #5F023A;
}

.form-control::placeholder {
    color: #5F023A;
}


#register {
    margin-left: 15px;
    font-size: 1em;
    color: #5F023A;
    background-color: white;
    border: 0;
}

/* Estilos del muro  */
#menu {
    width: 100%;
    position: fixed;
    bottom: 0px;
    margin: 0 auto;

}

.menus {
    width: 30%;
    margin: 3px;
    background-color: #682c2c;
    font-family: 'Nanum Gothic', sans-serif;
    border: 1px;
    border-style: solid;
    border-color: white;
    color: white;
    font-size: 0.8em;
}
#image-wallpaper {
   display: none;
}

@media screen and (min-width: 1050px) and (max-width: 1300px) {
#image-wallpaper {
    background-image: url("./images/wallpaper.jpg");
    width: 60%;
    height:100vh;
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
#login{
    float: right;
    width: 40%;
    height: 0vh;
    background-color: white;
    bottom: 0px;

}
#login-white {
    width: 40%;
    height: 87vh;
    position: absolute;
    bottom: 0px;
    text-align: center;
}
/* 
#logo {
    width: 220px;
    height: 220px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative;
    top: -30%;
}
#cont {
    position: relative;
    top: -30%;
    width: 40%;
    left: 29%;
} */

}